{% extends 'invoices/base.html' %}

{% block title %}Generate Invoice - Invoice Management System{% endblock %}

{% block content %}
<h1 class="mb-4">Generate Invoice</h1>
<form action="{% url 'generate_invoice' client_id=selected_client.id %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="client">Selected Client:</label>
        <input type="text" class="form-control" id="client"
            value="{{ selected_client.first_name }} {{ selected_client.last_name }}" readonly>
        <input type="hidden" name="client_id" value="{{ selected_client.id }}">
    </div>

    <div class="form-group">
        <label for="products">Select Products:</label>
        <select id="products" name="product_ids" class="form-control" multiple required>
            {% for product in products %}
            <option value="{{ product.id }}">
                {{ product.name }} - {{ product.price }}€ (TVA: {{ product.tva }}%)
            </option>
            {% endfor %}
        </select>
        <small class="form-text text-muted">Hold down the Ctrl (windows) or Command (Mac) button to select
            multiple options.</small>
    </div>

    <button type="submit" class="btn btn-primary">Generate Invoice</button>
</form>
{% endblock %}